
main {
  padding: 0;
  margin: 0 auto;
  height: 100%;
}

.Logo {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 400px;
  /* background-size: 100% 100%;
  background-repeat: no-repeat, repeat; */
  /* background-color: blue; */
}

img {
  width: 500px;
  height: 400px;
}

.logBar {
  height: 130px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3em;
  /* background-color: red; */
}

.signup, .login {
 text-decoration: none;
  display: inline;
  border: 1px solid #000000;
  font-size: 2em;
  font-weight: bold;
  font-family: Futura, Tahoma, sans-serif;
  color: #f1798d;
  padding: 25px;
  border-radius: 1px 1px;
  /* margin-bottom: 1em; */
}